
<p>Name:</p>
<p><%= current_user.name %></p>

<p>Email:</p>
<p><%= current_user.email %></p>

<p><%= image_tag current_user.image %> </p>

<button id="venmo_login">Login To Venmo</button>
<!--
- order history
- friends most recent orders. top five? all?
- reset password
- events (create event?)



 -->
