/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.merchant {
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  /*height: 400px;*/
  width: 600px;
  position: fixed;
  background-color: rgba(255,255,255,.95);
  z-index: 1;
  border-radius: 5px;
  top: 50%;
  overflow-y: auto;
  border: 20px solid rgba(0, 0, 0, 0);
  border-top: 10px;
  -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-left: -300px;
  margin-top: -200px;
}

.category {
  font-size: large;
}

.subcategory {
  font-weight: bold;
}

.item {
  background-color: rgba(255,255,255,.95);
  z-index: 1;
  border-radius: 5px;
  border: 3px solid rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 200px;
  height: 300px;
  overflow: hidden;
  margin: 5px;
}

.basket {
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  background-color: rgba(255,255,255,.95);
  z-index: 0;
  border-radius: 5px;
  overflow: auto;
  border: 20px solid rgba(0, 0, 0, 0);
  border-top: 10px;
  -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 5px;
}

#del_login_div {
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

a {
  text-decoration: none;
  color: black;
  background-color: rgba(255,255,255,.95);
  z-index: 1;
  border-radius: 5px;
  border: 3px solid rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
}

#venmo_split {
  z-index: 2;
}

.payment {
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  background-color: rgba(255,255,255,.95);
  z-index: 0;
  border-radius: 5px;
  overflow: auto;
  border: 20px solid rgba(0, 0, 0, 0);
  border-top: 10px;
  -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 5px;
}